.podcast-previews {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin: 2em 0;
}

.podcast-card {
  position: relative;
  max-width: 20em;
  height: 26em;
  overflow-y: hidden;

  overflow-x: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.podcast-info {
  position: relative;
  text-align: center;
  transition: transform 0.3s ease;
}

.podcast-card:hover .podcast-info {
  transform: translateY(-100%); /* Swipes up the image and title */
}

.podcast-card:hover {
  overflow-y: auto;
}

.podcast-info img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.podcast-info h3 {
  margin: 0;
  transition: transform 0.3s ease;
}

.podcast-info h4 {
  margin: 0;
  font-size: 0.75em;
  transition: transform 0.3s ease;
}

.podcast-genres {
  width: fit-content;
  margin: 0 auto;
  padding: 0.2em 0.5em;
  font-size: 0.65em;
  border: 1px solid var(--text-color);
  border-radius: 1em;
}

.podcast-description {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 95%;
  margin: 0.5em;
  /* background-color: rgba(0, 0, 0, 0.8); */
  color: white;
  font-size: 0.9em;
  line-height: 1.4;
  text-align: center;
  transform: translateY(10%);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.podcast-card:hover .podcast-description {
  transform: translateY(0%);
  display: inline;
}

.podcast-previews > a {
  color: var(--text-color);
}

.genre-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.genre-select {
  border: 2px solid var(--text-color);
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1em;
  margin: 1em;
  background-color: var(--primary-dark);
  cursor: pointer;
  transition: border-color 0.3s;
  text-align: center;
}

.genre-select:focus {
  outline: none;
  border-color: var(--accent);
}

.podcast-previews > .loader {
  margin-top: 0;
}
